importFrom("utils", "menu")
importFrom("stats", "pbeta", "sd")
export(AADouble,
       AAMultiple,
       AASingle,
       AAZ14Double,
       AAZ14Multiple,
       AAZ14Single,
       AAZ19,
       EPn,
       OCASNZ4D,
       OCASNZ4S,
       OCASNZ4M
       )
